Repository rapidsai/cuml: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-import-in-pxd, xfail-format

Path conditions:
  no-import-in-pxd: any of: ^.*.pxd$
  xfail-format: any of: .*xfail.*\.yaml$

refactored update-version.sh to handle new branching strategy (#7455)
  README.md
  ci/release/update-version.sh
  cpp/README.md
  python/cuml/README.md
Due: none

Update dependencies
  dependencies.yaml
  python/cuml/pyproject.toml
Due: none

Expose `n_iter_` in `Ridge` (#7458)
  docs/source/cuml-accel/limitations.rst
  python/cuml/cuml/linear_model/ridge.pyx
Due: none

Expose `n_iter_` on `ElasticNet`/`Lasso`/`CD` (#7457)
  cpp/include/cuml/solvers/cd_mg.hpp
  cpp/include/cuml/solvers/solver.hpp
  cpp/src/solver/cd.cuh
  cpp/src/solver/cd_mg.cu
  cpp/src/solver/solver.cu
  docs/source/cuml-accel/limitations.rst
  python/cuml/cuml/accel/_wrappers/sklearn/linear_model.py
  python/cuml/cuml/dask/linear_model/elastic_net.py
  python/cuml/cuml/dask/linear_model/lasso.py
  python/cuml/cuml/linear_model/elastic_net.py
  python/cuml/cuml/linear_model/lasso.py
  python/cuml/cuml/solvers/cd.pyx
  python/cuml/cuml/solvers/cd_mg.pyx
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/dask/test_dask_coordinate_descent.py
  python/cuml/tests/test_coordinate_descent.py
Due: xfail-format

Disablling the UMAP hypothesis testing from wheel testing
  dependencies.yaml
  python/cuml/pyproject.toml
  python/cuml/tests/test_umap_hypothesis.py
Due: none

Update xfail list
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
Due: xfail-format

Declare shared memory allocations at top of kernel
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels.cuh
Due: none

[BUG] Fix RandomForest Builder Sampling (#7422)
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels.cuh
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/explainer/test_explainer_kernel_shap.py
  python/cuml/tests/test_random_forest.py
Due: xfail-format

Adjust test to use same conditions as actual code.
  cpp/tests/sg/rf_test.cu
Due: none

Refactor sign flip to be class-based and dynamic behavior to cuml.accel.
  python/cuml/cuml/accel/_wrappers/sklearn/decomposition.py
  python/cuml/cuml/decomposition/__init__.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
Due: none

Expose `n_iter_` in SVC/SVR
  cpp/bench/sg/svc.cu
  cpp/bench/sg/svr.cu
  cpp/include/cuml/svm/svc.hpp
  cpp/include/cuml/svm/svm_parameter.h
  cpp/include/cuml/svm/svr.hpp
  cpp/src/svm/smosolver.cuh
  cpp/src/svm/smosolver.h
  cpp/src/svm/svc.cu
  cpp/src/svm/svc_impl.cuh
  cpp/src/svm/svr.cu
  cpp/src/svm/svr_impl.cuh
  cpp/tests/sg/svc_test.cu
  docs/source/cuml-accel/limitations.rst
  python/cuml/cuml/svm/svc.py
  python/cuml/cuml/svm/svm_base.pyx
  python/cuml/cuml/svm/svm_headers.pxd
  python/cuml/cuml/svm/svr.py
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/test_pickle.py
  python/cuml/tests/test_svm.py
Due: no-import-in-pxd, xfail-format

Fix the n-1 placeholder bias.
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels.cuh
Due: none

Remove cupy allocator utils
  python/cuml/cuml/__init__.py
  python/cuml/cuml/common/__init__.py
  python/cuml/cuml/common/sparsefuncs.py
  python/cuml/cuml/dask/cluster/dbscan.py
  python/cuml/cuml/dask/cluster/kmeans.py
  python/cuml/cuml/dask/common/dask_arr_utils.py
  python/cuml/cuml/dask/common/input_utils.py
  python/cuml/cuml/dask/datasets/blobs.py
  python/cuml/cuml/dask/datasets/classification.py
  python/cuml/cuml/dask/datasets/regression.py
  python/cuml/cuml/dask/feature_extraction/text/tfidf_transformer.py
  python/cuml/cuml/dask/metrics/confusion_matrix.py
  python/cuml/cuml/dask/naive_bayes/naive_bayes.py
  python/cuml/cuml/dask/preprocessing/encoders.py
  python/cuml/cuml/dask/preprocessing/label.py
  python/cuml/cuml/internals/array.py
  python/cuml/cuml/internals/array_sparse.py
  python/cuml/cuml/internals/memory_utils.py
Due: none

Expose `n_iter_` in SVC/SVR (#7461)
  cpp/bench/sg/svc.cu
  cpp/bench/sg/svr.cu
  cpp/include/cuml/svm/svc.hpp
  cpp/include/cuml/svm/svm_parameter.h
  cpp/include/cuml/svm/svr.hpp
  cpp/src/svm/smosolver.cuh
  cpp/src/svm/smosolver.h
  cpp/src/svm/svc.cu
  cpp/src/svm/svc_impl.cuh
  cpp/src/svm/svr.cu
  cpp/src/svm/svr_impl.cuh
  cpp/tests/sg/svc_test.cu
  docs/source/cuml-accel/limitations.rst
  python/cuml/cuml/svm/svc.py
  python/cuml/cuml/svm/svm_base.pyx
  python/cuml/cuml/svm/svm_headers.pxd
  python/cuml/cuml/svm/svr.py
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/test_pickle.py
  python/cuml/tests/test_svm.py
Due: no-import-in-pxd, xfail-format

No need for a subclass, simplify things
  python/cuml/cuml/accel/_wrappers/sklearn/decomposition.py
  python/cuml/cuml/decomposition/__init__.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
Due: none

use cpu16 instances for C++ builds
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Due: none

Support of `weights` argument in KNeighbors (#7289)
  cpp/include/cuml/neighbors/knn.hpp
  cpp/src/knn/knn.cu
  cpp/src_prims/selection/knn.cuh
  docs/source/cuml-accel/limitations.rst
  python/cuml/cuml/neighbors/kneighbors_classifier.pyx
  python/cuml/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/cuml/neighbors/weights.py
  python/cuml/cuml_accel_tests/integration/test_kneighbors_classifier.py
  python/cuml/cuml_accel_tests/integration/test_kneighbors_regressor.py
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/test_kneighbors_classifier.py
  python/cuml/tests/test_kneighbors_regressor.py
  python/cuml/tests/test_sklearn_import_export.py
Due: xfail-format

Optimize placeholder exclusion.
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels.cuh
Due: none

Replace `u_based_decision` with `flip_signs_based_on_U`.
  cpp/include/cuml/decomposition/pca.hpp
  cpp/include/cuml/decomposition/pca_mg.hpp
  cpp/include/cuml/decomposition/tsvd.hpp
  cpp/include/cuml/decomposition/tsvd_mg.hpp
  cpp/src/pca/pca.cu
  cpp/src/pca/pca.cuh
  cpp/src/pca/pca_mg.cu
  cpp/src/tsvd/tsvd.cu
  cpp/src/tsvd/tsvd.cuh
  cpp/src/tsvd/tsvd_mg.cu
  python/cuml/cuml/decomposition/incremental_pca.py
  python/cuml/cuml/decomposition/pca.pyx
  python/cuml/cuml/decomposition/pca_mg.pyx
  python/cuml/cuml/decomposition/tsvd.pyx
  python/cuml/cuml/decomposition/tsvd_mg.pyx
  python/cuml/tests/test_incremental_pca.py
Due: none

Fix missing rmm::CUDA_ALLOCATION_ALIGNMENT.
  cpp/include/cuml/common/pinned_host_vector.hpp
Due: none

Simplify file structure
  python/cuml/cuml/manifold/umap/CMakeLists.txt
  python/cuml/cuml/manifold/umap/__init__.py
  python/cuml/cuml/manifold/umap/lib.pxd
  python/cuml/cuml/manifold/umap/simpl_set.pyx
  python/cuml/cuml/manifold/umap/umap.pyx
  python/cuml/cuml/manifold/umap/umap_utils.pxd
  python/cuml/cuml/manifold/umap/umap_utils.pyx
Due: no-import-in-pxd

Rename GraphHolder -> RaftCOO and simplify
  python/cuml/cuml/manifold/umap/umap.pyx
Due: none

Cleanup UMAP and simpl_set
  python/cuml/cuml/manifold/umap/umap.pyx
  python/cuml/tests/test_simpl_set.py
  python/cuml/tests/test_umap.py
Due: none

Move umap into subdirectory
  python/cuml/cuml/manifold/umap/CMakeLists.txt
  python/cuml/cuml/manifold/umap/__init__.py
  python/cuml/cuml/manifold/umap/simpl_set.pyx
  python/cuml/cuml/manifold/umap/umap.pyx
  python/cuml/cuml/manifold/umap/umap_utils.pxd
  python/cuml/cuml/manifold/umap/umap_utils.pyx
Due: no-import-in-pxd

Remove HostGraphHolder
  python/cuml/cuml/manifold/umap/lib.pxd
  python/cuml/cuml/manifold/umap/umap.pyx
Due: no-import-in-pxd

Fixup
  python/cuml/cuml/manifold/umap/umap.pyx
Due: none

Update xfail list
  python/cuml/cuml_accel_tests/upstream/umap/xfail-list.yaml
Due: xfail-format

A few more cleanups
  python/cuml/cuml/manifold/umap/lib.pxd
  python/cuml/cuml/manifold/umap/umap.pyx
Due: no-import-in-pxd

Pin pytest<9.0
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
Due: none

Fix predict dtype handling for KernelRidge
  python/cuml/cuml/kernel_ridge/kernel_ridge.py
Due: none

Add a test for regression predict dtype
  python/cuml/tests/test_base.py
Due: none

Fix predict dtype handling for KNeighborsRegressor
  python/cuml/cuml/neighbors/kneighbors_regressor.pyx
Due: none

Fix predict dtype handling for RandomForestRegressor
  python/cuml/cuml/ensemble/randomforestregressor.py
Due: none

Bump Treelite to 4.6.0
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  cpp/cmake/thirdparty/get_treelite.cmake
  dependencies.yaml
  python/cuml/pyproject.toml
Due: none

Remove XFAIL from FIL tests
  python/cuml/tests/test_fil.py
Due: none

Fixups
  python/cuml/cuml/accel/_wrappers/sklearn/neighbors.py
  python/cuml/cuml/ensemble/randomforestregressor.py
  python/cuml/cuml/kernel_ridge/kernel_ridge.py
  python/cuml/cuml/neighbors/kneighbors_regressor.pyx
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/test_base.py
  python/cuml/tests/test_kneighbors_regressor.py
Due: xfail-format

Relegate kernel sampling bias test to debug builds.
  cpp/src/decisiontree/batched-levelalgo/kernels/builder_kernels.cuh
  cpp/tests/sg/rf_test.cu
Due: none

Expand test to check validity and for duplicates.
  cpp/tests/sg/rf_test.cu
Due: none

Pin pytest<9.0 (#7468)
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-130_arch-aarch64.yaml
  conda/environments/all_cuda-130_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
Due: none

correct types for vector, document limitations
  cpp/include/cuml/ensemble/randomforest.hpp
  cpp/src/randomforest/randomforest.cu
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.py
  python/cuml/cuml/ensemble/randomforestregressor.py
Due: none
