Repository rapidsai/cuml: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-import-in-pxd, xfail-format

Path conditions:
  no-import-in-pxd: any of: ^.*.pxd$
  xfail-format: any of: .*xfail.*\.yaml$

Apply new validation to SVC and SVR
  python/cuml/cuml/svm/svc.py
  python/cuml/cuml/svm/svm_base.pyx
  python/cuml/cuml/svm/svr.py
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/test_sklearn_compatibility.py
Due: xfail-format

Expand flaky tests
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
Due: xfail-format

Apply new validation to LinearSVC/LinearSVR
  python/cuml/cuml/svm/linear.pyx
  python/cuml/cuml/svm/linear_svc.py
  python/cuml/cuml/svm/linear_svr.py
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/test_sklearn_compatibility.py
Due: xfail-format

Respond to feedback
  python/cuml/cuml/svm/linear_svr.py
  python/cuml/cuml/svm/svc.py
  python/cuml/cuml/svm/svm_base.pyx
Due: none

Several `ensemble` scikit-learn compatibility improvements (#8023)
  docs/source/cuml-accel/limitations.rst
  python/cuml/cuml/accel/_overrides/sklearn/ensemble.py
  python/cuml/cuml/accel/estimator_proxy.py
  python/cuml/cuml/ensemble/randomforest_common.pyx
  python/cuml/cuml/ensemble/randomforestclassifier.py
  python/cuml/cuml/ensemble/randomforestregressor.py
  python/cuml/cuml/fil/fil.pyx
  python/cuml/cuml_accel_tests/test_estimator_proxy.py
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/test_random_forest.py
  python/cuml/tests/test_sklearn_compatibility.py
Due: xfail-format

Set AWS_IDP_URL and update AWS_ROLE_ARN to use `token.rapids.nvidia.com`
  .devcontainer/Dockerfile
Due: none

Remove inertia_check Param from KMeans (#8033)
  cpp/bench/sg/kmeans.cu
  cpp/include/cuml/cluster/kmeans_params.hpp
  cpp/src/kmeans/kmeans_params.cpp
  python/cuml/cuml/cluster/cpp/kmeans.pxd
Due: no-import-in-pxd

Split conda dev environment creation into separate skill.
  .agents/build-cuml/SKILL.md
  .agents/setup-dev-environment/SKILL.md
  .agents/test-cuml/SKILL.md
Due: none

Demote conda env convention to suggestion
  .agents/build-cuml/SKILL.md
  .agents/examples/in-worktree-prefix-env/SKILL.md
  .agents/test-cuml/SKILL.md
  AGENTS.md
Due: none

change to new validation
  python/cuml/cuml/manifold/spectral_embedding.pyx
  python/cuml/cuml/manifold/t_sne.pyx
  python/cuml/cuml/manifold/umap/umap.pyx
Due: none

Fix sample_weight handling in `KernelRidge`
  python/cuml/cuml/kernel_ridge/kernel_ridge.py
  python/cuml/tests/test_kernel_ridge.py
Due: none

Respond to feedback
  python/cuml/cuml/kernel_ridge/kernel_ridge.py
Due: none

Fix tests to pass locally
  python/cuml/tests/explainer/test_gpu_treeshap.py
  python/cuml/tests/explainer/test_shap_plotting.py
Due: none

Fix sample_weight handling in `KernelRidge` (#8040)
  python/cuml/cuml/kernel_ridge/kernel_ridge.py
  python/cuml/tests/test_kernel_ridge.py
Due: none

Port `cuml.explainer` to new data ingest routines
  python/cuml/cuml/explainer/base.pyx
  python/cuml/cuml/explainer/common.py
  python/cuml/cuml/explainer/kernel_shap.pyx
  python/cuml/cuml/explainer/sampling.py
  python/cuml/cuml/explainer/tree_shap.pyx
  python/cuml/tests/explainer/test_gpu_treeshap.py
Due: none

Add `lightgbm` and `shap` to test dependencies
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-131_arch-aarch64.yaml
  conda/environments/all_cuda-131_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
Due: none

Fixup kmeans_sampling
  python/cuml/cuml/explainer/sampling.py
Due: none

Support subclassing proxy estimators
  python/cuml/cuml/accel/estimator_proxy.py
  python/cuml/cuml_accel_tests/test_estimator_proxy.py
Due: none

Update xfail list
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
Due: xfail-format

Provide better guidance on when to create a conda environment.
  .agents/build-cuml/SKILL.md
  .agents/examples/in-worktree-prefix-env/SKILL.md
  .agents/setup-dev-environment/SKILL.md
  .agents/test-cuml/SKILL.md
  AGENTS.md
Due: none

Widen codeowner and changed_files exclusions.
  .github/CODEOWNERS
  .github/workflows/pr.yaml
Due: none

fix input check
  python/cuml/cuml/manifold/spectral_embedding.pyx
  python/cuml/cuml/manifold/umap/umap.pyx
Due: none

Fixups for `cudf.pandas` compat in tests
  python/cuml/cuml/explainer/sampling.py
  python/cuml/cuml/explainer/tree_shap.pyx
  python/cuml/tests/explainer/test_gpu_treeshap.py
Due: none

Apply new validation to `cuml.svm` (#8029)
  python/cuml/cuml/svm/linear.pyx
  python/cuml/cuml/svm/linear_svc.py
  python/cuml/cuml/svm/linear_svr.py
  python/cuml/cuml/svm/svc.py
  python/cuml/cuml/svm/svm_base.pyx
  python/cuml/cuml/svm/svr.py
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
  python/cuml/tests/test_sklearn_compatibility.py
Due: xfail-format

Support subclassing proxy estimators (#8041)
  python/cuml/cuml/accel/estimator_proxy.py
  python/cuml/cuml_accel_tests/test_estimator_proxy.py
  python/cuml/cuml_accel_tests/upstream/scikit-learn/xfail-list.yaml
Due: xfail-format

Drop `__firstlineno__` on `ProxyBase` instances
  python/cuml/cuml/accel/estimator_proxy.py
Due: none

Add `check_cudf`, and a few other validation changes
  python/cuml/cuml/internals/validation.py
  python/cuml/tests/test_validation.py
Due: none

Respond to feedback
  python/cuml/cuml/internals/validation.py
  python/cuml/tests/test_validation.py
Due: none

chore: tweak matrix filter formatting so zizmor doesn't barf
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Due: none

feat(ci): add `zizmor` and resolve all findings
  .github/workflows/build.yaml
  .github/workflows/labeler.yml
  .github/workflows/new-issues-to-triage-projects.yml
  .github/workflows/pr.yaml
  .github/workflows/pr_assign_author.yml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
Due: none

use reg instead of smem
  cpp/src/umap/simpl_set_embed/optimize_batch_kernel.cuh
Due: none

Drop `__firstlineno__` on `ProxyBase` instances (#8045)
  python/cuml/cuml/accel/estimator_proxy.py
Due: none

fix(ci): resolve all zizmor findings and add zizmor pre-commit checks (#8046)
  .github/workflows/build.yaml
  .github/workflows/labeler.yml
  .github/workflows/new-issues-to-triage-projects.yml
  .github/workflows/pr.yaml
  .github/workflows/pr_assign_author.yml
  .github/workflows/pr_issue_status_automation.yml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
Due: none

Add `check_cudf`, and a few other validation changes (#8038)
  python/cuml/cuml/internals/validation.py
  python/cuml/tests/test_validation.py
Due: none

Fix labeler config
  .github/labeler.yml
Due: none

Fix labeler config (#8047)
  .github/labeler.yml
Due: none

Add nvforest as dependency
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-131_arch-aarch64.yaml
  conda/environments/all_cuda-131_arch-x86_64.yaml
  conda/environments/clang_tidy_cuda-129_arch-x86_64.yaml
  conda/environments/clang_tidy_cuda-131_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-129_arch-x86_64.yaml
  conda/environments/cpp_all_cuda-131_arch-x86_64.yaml
  dependencies.yaml
  python/cuml/pyproject.toml
  python/libcuml/pyproject.toml
Due: none

fix hashing
  python/cuml/cuml/manifold/umap/umap.pyx
Due: none

handle xfail
  python/cuml/tests/test_sklearn_compatibility.py
Due: none

y check
  python/cuml/cuml/manifold/umap/umap.pyx
Due: none
